.back-button {
  --_size: 2.5rem;

  cursor: pointer;

  transform: scale(-1, 1);

  display: inline-flex;
  align-items: center;

  width: var(--_size);
  height: var(--_size);
  border: 0;
  border-radius: 500px;

  text-decoration: none;

  background-color: var(--clr-fg);

  mask: no-repeat center / contain url('/images/icons/arrow.svg');

  mask-size: 42px 16px;

  &:hover,
  &:focus {
    transform: scale(1, 1);

    mask-image: url('/images/icons/arrow-bold.svg');
    mask-size: 45px 19px;
  }

  @media (width >= 768px) {
    --_size: 3rem;

    mask-size: 2.625rem 1rem;
  }
}
