button,
.button {
  --bg: var(--clr-btn-bg);
  --text: var(--clr-btn-text);

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: var(--input-heigth);
  padding: 1.125em 2em;
  border: 0;
  border-radius: 500px;

  color: var(--text);
  text-decoration: none;

  background-color: var(--bg);

  transition: var(--transition-md);
}

.button_type_accent {
  --bg: var(--clr-btn-bg-accent);
  --text: var(--clr-btn-text-accent);
}
