.card-hiring {
  display: grid;
  grid-template:
    'img'
    '.' 1.25rem
    'title'
    '.' 1rem
    'description'
    '.' 2rem
    'btn'
    / 1fr;
  justify-items: center;

  padding: 1.25rem 1rem 1.5rem;
  border-radius: var(--border-radius);

  background-color: var(--clr-accent);
}

.card-hiring__title {
  grid-area: title;
  text-align: center;
  text-wrap: balance;
}

.card-hiring__description {
  grid-area: description;
  text-align: center;
}

.card-hiring__btn {
  grid-area: btn;
}

.card-hiring__img {
  grid-area: img;
  inline-size: 100%;
}

.card-hiring__form-popover {
  inline-size: 100vw;
  block-size: 100dvh;
  margin: unset;
  padding: 1.5rem;
  border: none;

  > hgroup {
    display: grid;
    grid-auto-flow: column;
    gap: 1.25rem;
    align-items: center;

    margin-block-end: 2rem;

    > button {
      justify-self: end;
    }
  }

  @media (width >=768px) {
    padding: 2.5rem;

    > hgroup {
      margin-block-end: 2.5rem;
    }
  }

  @media (width >= 1280px) {
    right: 0;
    left: unset;
    inline-size: 50%;

    &::backdrop {
      background-color: color-mix(in srgb, var(--clr-accent) 70%, transparent);
    }
  }
}

@media (width >= 768px) {
  .card-hiring {
    grid-template:
      'img'
      '.' 2rem
      'title'
      '.' 2rem
      'description'
      '.' 3rem
      'btn'
      / 1fr;
    padding: 3.75rem;
  }
}

@media (width >= 1024px) {
  .card-hiring {
    grid-template:
      'title . img'
      '. . img' 2rem
      'description . img'
      '. . img' auto
      '. . img' 2rem
      'btn . img'
      / 1fr 1.25rem 1fr;
  }

  .card-hiring__title {
    text-align: left;
  }

  .card-hiring__description {
    text-align: left;
  }

  .card-hiring__btn {
    place-self: start;
  }
}
