.contact-form {
  display: grid;
  gap: 1rem;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr;

    > :nth-child(n + 5):nth-last-child(-n + 5) {
      grid-column: 1 / -1;
    }
  }
}

