.custom-select {
  --duration: 150ms;
  --timing-func: ease;

  position: relative;
  display: grid;
  gap: 8px;
  block-size: var(--input-heigth);

  transition: block-size var(--duration) var(--timing-func);
  interpolate-size: allow-keywords;
}

.custom-select_opened.custom-select {
  block-size: auto;
}

.custom-select__button {
  width: 100%;
  background-color: var(--clr-select-bg);
  block-size: var(--input-heigth);
  padding: 12px 10px 12px 16px;
  border-radius: var(--border-radius-sm);
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.custom-select__button_selected {
  color: var(--clr-text);
}

.custom-select__button::after {
  content: '';
  width: 24px;
  height: 24px;
  mask: no-repeat center / contain url(../../../public/images/icons/caret.svg);
  rotate: 180deg;
  background-color: var(--clr-text);
  transition: var(--transition-md);
  pointer-events: none;
}

.custom-select_opened > .custom-select__button::after {
  rotate: 0deg;
}

.custom-select__dropdown {
  --padding-inline: 16px;

  display: none;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;

  width: 100%;
  background-color: var(--clr-select-bg);
  border-radius: var(--border-radius-sm);
  padding: 12px calc(var(--padding-inline) / 2);

  transition-property: display transform opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-func);
  transition-behavior: allow-discrete;
}

.custom-select_opened > .custom-select__dropdown {
  display: block;
  transform: scaleY(1);
  opacity: 1;

  @starting-style {
    opacity: 0;
    transform: scaleY(0);
  }
}

.custom-select__dropdown-item {
  min-height: 32px;

  display: flex;
  gap: 16px;
  padding-inline: calc(var(--padding-inline) / 2);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  border-radius: var(--border-radius-sm);
}

.custom-select__dropdown-item:hover {
  background-color: var(--clr-select-bg-hover);
}

.custom-select__dropdown-item_selected.custom-select__dropdown-item:after {
  content: '';
  width: 24px;
  height: 24px;
  mask: no-repeat center / contain url(../../../public/images/icons/check.svg);
  background-color: var(--clr-text);
  transition: var(--transition-md);
  pointer-events: none;
}

/* @media (width >= 768px) {
  .custom-select__dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
  }
} */
