.error-tooltip {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--tooltip-radius);

  font-size: clamp(0.875rem, 0.7857rem + 0.4464vw, 1rem);
  line-height: 1.14;
  color: var(--clr-tooltip-fg);
  letter-spacing: 0;

  background-color: var(--clr-tooltip-bg);

  @media (width >= 768px) {
    line-height: 1.06;
  }
}
