.form-input-group {
  position: relative;

  [popover]:popover-open {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius-sm);

    color: var(--clr-input-input-tooltip-fg);

    background-color: var(--clr-input-input-tooltip-bg);
  }
}

.form-input-group button {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translate(0%, -50%);

  display: none;

  inline-size: 1.5rem;
  block-size: 1.5rem;
  border: none;
  border-radius: 100vw;

  color: var(--clr-input-placeholder-error);

  background-color: var(--clr-input-fg-error);
}

.form-input-group:has(input:user-invalid) button {
  display: block;
}

.input {
  width: 100%;
  height: var(--input-heigth);
  padding: 1em 1.5em;
  border: none;
  border-radius: var(--border-radius-sm);

  font-size: 0.875rem;
  line-height: 1.43;

  background-color: var(--clr-input-bg);

  transition: var(--transition-sm);

  &::placeholder {
    color: var(--clr-input-placeholder);
    transition: var(--transition-sm);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--clr-input-bg-hover);
    outline: none;
  }

  &:user-invalid {
    background-color: var(--clr-input-bg-error);

    &::placeholder {
      color: var(--clr-input-fg-error);
    }
  }

  &:focus-visible,
  &:focus:invalid {
    background-color: var(--clr-input-bg-hover);

    &::placeholder {
      color: var(--clr-fg);
    }
  }

  @media (width > 650px) {
    border-radius: var(--border-radius);
    font-size: initial;
    line-height: 1;
  }
}
