.input-group {
  position: relative;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  height: var(--input-heigth);
  padding: 0 1rem;
  border-radius: var(--input-border-radius);

  background-color: var(--clr-input-bg);

  &:hover,
  &:focus-within,
  &:has(input:hover) {
    background-color: var(--clr-input-bg-hover);
    transition: var(--transition-sm);
  }

  &:has(input:user-invalid),
  &:has([aria-invalid='true']) {
    background-color: var(--clr-input-bg-error);

    .input-group__input {
      color: var(--clr-input-fg-error);

      &::placeholder {
        color: var(--clr-input-placeholder-error);
      }
    }

    .input-group__error-btn {
      display: block;
    }

    &:hover,
    &:focus-within,
    &:has(input:hover) {
      background-color: var(--clr-input-bg-error-hover);
      transition: var(--transition-sm);
    }
  }
}

.input-group__input {
  width: 100%;
  border: none;
  font-size: clamp(0.875rem, 0.6071rem + 1.3393vw, 1.25rem);
  background-color: transparent;

  &::placeholder {
    color: var(--clr-input-placeholder);
  }

  &:focus {
    outline: none;
  }
}

input[type='checkbox'] {
  &:user-invalid,
  &[aria-invalid='true'] {
    background-color: var(--clr-input-bg-error) !important;
  }
}

.input-group__error-btn {
  cursor: pointer;
  display: none;
  border: none;
  background-color: transparent;

  &::before {
    content: '';

    display: block;

    inline-size: 1.5rem;
    block-size: 1.5rem;

    background: no-repeat center / contain url('/images/icons/error.svg');
  }
}

.input-group_upload {
  --_padding: 0.5rem;

  cursor: pointer;

  display: grid;

  block-size: unset;
  min-height: 8.25rem;
  padding: var(--_padding);

  > label {
    cursor: pointer;

    display: grid;
    place-items: center;

    inline-size: 100%;
    block-size: 100%;
    border: 2px dashed var(--clr-accent);
    border-radius: calc(var(--input-border-radius) - var(--_padding));

    color: var(--clr-input-placeholder);
    text-align: center;
    text-wrap: balance;
  }

  &[hidden] {
    display: none;
  }
}

.input-group_upload.drag-hover {
  background-color: var(--clr-input-bg-hover);
  transition: var(--transition-sm);
}
