.upload-zone {
  display: grid;
  gap: 1rem;
}

.upload-zone__file {
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  height: var(--input-heigth);
  padding-inline: 1rem;
  border-radius: var(--input-border-radius);

  background-color: var(--clr-input-bg);

  &::before {
    content: '';

    inline-size: 1.5rem;
    block-size: 1.5rem;

    white-space: nowrap;

    background: no-repeat center / contain url('/images/icons/doc.svg');
  }

  > p {
    overflow: hidden;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > button {
    cursor: pointer;

    inline-size: 1.5rem;
    block-size: 1.5rem;
    margin-inline-start: auto;
    border: none;

    background-color: currentcolor;

    mask: no-repeat center / contain url('/images/icons/trash.svg');

    &:hover {
      background-color: var(--clr-accent);
    }
  }

  &[hidden] {
    display: none;
  }
}
