.section {
  padding-block: var(--section-padding, 3rem);
}

a[class*='icon'] {
  --size: 24px;

  display: inline-block;

  width: var(--size);
  height: var(--size);

  color: var(--clr-footer-fg);

  background-color: var(--clr-footer-fg);

  transition: var(--transition-sm);

  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;

  &:hover,
  &:focus {
    background-color: var(--clr-accent);
  }
}

a[href*='facebook'] {
  mask-image: url("/images/icons/facebook.svg");
}

a[href*='x.com'] {
  mask-image: url("/images/icons/x.svg");
}

a[href*='linkedin'] {
  mask-image: url("/images/icons/linkedin.svg");
}
