.layout {
  --column-count: 4;
  --column-gap: 1rem;
  --gutter: 1.5rem;
  --content-max-width: 1290px;
  --calc-content-max-width: calc(
    var(--content-max-width) - var(--column-gap) * (var(--column-count) - 1)
  );
  --calc-gutter: calc(var(--gutter) - var(--column-gap));
  --grid-col-max-width: calc(var(--calc-content-max-width) / var(--column-count));

  display: grid;
  grid-template-columns:
    [fullbleed-start]
    minmax(var(--calc-gutter), 1fr)
    [content-start]
    repeat(var(--column-count), minmax(0, var(--grid-col-max-width)))
    [content-end]
    minmax(var(--calc-gutter), 1fr)
    [fullbleed-end];
  grid-template-rows: min-content 1fr min-content;
  column-gap: var(--column-gap);
}

.layout > * {
  display: grid;
  grid-column: fullbleed;
  grid-template-columns: subgrid;
}

.full-width {
  grid-column: fullbleed;
}

.content-width {
  grid-column: content;
}

@media (width >= 768px) {
  .layout {
    --gutter: 2.5rem;
  }
}

@media (width >= 1024px) {
  .layout {
    --column-count: 12;
  }
}
