:root {
  --_clr-neutral-900: #000;
  --_clr-neutral-100: #fff;
  --_clr-grey-100: #8a90b3;
  --_clr-grey-75: #d1d5ed;
  --_clr-grey-50: #e8eaf6;
  --_clr-red-25: #ffe0dd;
  --_clr-red-75: #ff8278;
  --_clr-red-100: #ff3828;
  --_clr-green-25: #e1ffdd;

  --_clr-purple-400: #8377f1;

  --clr-hover: #e8eaf680;
  --clr-bg: var(--_clr-neutral-100);
  --clr-text: var(--_clr-neutral-900);
  --clr-accent: var(--_clr-purple-400);
  --clr-footer-bg: var(--_clr-neutral-900);
  --clr-btn-bg: var(--_clr-neutral-900);
  --clr-btn-bg-accent: var(--_clr-purple-400);
  --clr-btn-text: var(--_clr-neutral-100);
  --clr-btn-text-accent: var(--_clr-neutral-100);
  --clr-select-bg: var(--_clr-neutral-100);
  --clr-select-bg-hover: var(--_clr-grey-75);
  --clr-select-placeholder: var(--_clr-grey-100);
  --clr-input-bg: var(--_clr-grey-50);
  --clr-input-bg-error: var(--_clr-red-25);
  --clr-input-bg-valid: var(--_clr-red-25);
  --clr-input-fg-error: var(--_clr-red-100);
  --clr-input-bg-hover: var(--_clr-grey-75);
  --clr-input-placeholder: var(--_clr-grey-100);
  --clr-input-placeholder-error: var(--_clr-red-75);
  --clr-input-input-tooltip-bg: var(--_clr-neutral-900);
  --clr-input-input-tooltip-fg: var(--_clr-neutral-100);

  --border-radius: 1rem;
  --border-radius-sm: 0.5rem;
  --transition-sm: 100ms ease-out;
  --transition-md: 250ms ease-out;

  --input-heigth: 2.75rem;

  color: var(--clr-paragraph);
  background-color: var(--clr-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
}

@media (width > 650px) {
  :root {
    --input-heigth: 3.75rem;
  }
}
