:root {
  --_clr-black: #000;
  --_clr-black-50: #373942;
  --_clr-grey-100: #8a90b3;
  --_clr-grey-75: #d1d5ed;
  --_clr-grey-50: #e8eaf6;
  --_clr-grey-25: #f1f2f8;
  --_clr-white: #fff;
  --_clr-violet-i: #6d5dae;
  --_clr-violet: #8377f1;
  --_clr-roundtrip: #aaf134;
  --_clr-retehawk: #fd0;
  --_clr-zenhotels: #f86463;
  --_clr-red-100: #ff3828;
  --_clr-red-75: #ff8278;
  --_clr-red-50: #ffc1bb;
  --_clr-red-25: #ffe0dd;
  --clr-accent: var(--_clr-violet);
  --clr-hover: #e8eaf680;
  --clr-bg: var(--_clr-white);
  --clr-fg: var(--_clr-black);

  /* buttons */
  --clr-btn-bg: var(--_clr-black);
  --clr-btn-fg: var(--_clr-white);
  --clr-btn-fg-hover: var(--_clr-violet);
  --clr-btn-bg-accent: var(--_clr-violet);
  --clr-btn-fg-accent: var(--_clr-white);
  --clr-btn-fg-accent-hover: var(--_clr-black);
  --clr-btn-bg-ghost: var(--_clr-grey-50);
  --clr-btn-fg-ghost: var(--_clr-black);
  --clr-btn-fg-ghost-hover: var(--_clr-violet);

  /* form */
  --clr-select-bg: var(--_clr-white);
  --clr-select-bg-hover: var(--_clr-grey-75);
  --clr-select-placeholder: var(--_clr-grey-100);
  --clr-input-bg: var(--_clr-grey-50);
  --clr-input-bg-error: var(--_clr-red-25);
  --clr-input-bg-error-hover: var(--_clr-red-50);
  --clr-input-bg-valid: var(--_clr-red-25);
  --clr-input-fg-error: var(--_clr-red-100);
  --clr-input-bg-hover: var(--_clr-grey-75);
  --clr-input-placeholder: var(--_clr-grey-100);
  --clr-input-placeholder-hover: var(--_clr-grey-100);
  --clr-input-placeholder-error: var(--_clr-red-75);
  --clr-input-input-tooltip-bg: var(--_clr-black);
  --clr-input-input-tooltip-fg: var(--_clr-white);
  --clr-search-input-bg: var(--_clr-white);
  --clr-search-input-fg: var(--_clr-black);
  --clr-search-input-placeholder: var(--_clr-grey-100);
  --clr-search-input-bg-hover: var(--_clr-grey-25);
  --clr-search-input-fg-hover: var(--clr-accent);
  --clr-search-input-placeholder-hover: var(--clr-accent);
  --input-border-radius: var(--border-radius-sm);

  /* footer */
  --clr-footer-bg: var(--_clr-black);
  --clr-footer-fg: var(--_clr-white);
  --border-radius: 1rem;
  --border-radius-sm: 0.5rem;
  --transition-sm: 100ms ease-out;
  --transition-md: 250ms ease-out;
  --input-heigth: 2.625rem;
  --fw-400: 400;
  --fw-500: 500;

  /* sizing */
  --step-8: clamp(1rem, 0.2857rem + 3.5714vw, 2rem);
  --ff-primary: 'Aeroport', sans-serif;
}

body {
  min-height: 100dvh;

  font-family: var(--ff-primary);
  font-size: clamp(1.25rem, 1.5179rem + -1.3393vw, 0.875rem);
  font-weight: var(--fw-400);
  line-height: 1.4;
  color: var(--clr-paragraph);
  text-rendering: optimizelegibility;
  letter-spacing: 0;

  background-color: var(--clr-bg);

  font-synthesis: none;
}

@media (width >= 768px) {
  :root {
    --input-heigth: 3.75rem;
    --input-border-radius: var(--border-radius);
  }

  body {
    line-height: 1.43;
  }
}
