.flow > *:where(:not(:first-child)) {
  margin-block-start: var(--flow-spacer, 1em);
}

.text-center {
  text-align: center;
}

.color-accent {
  color: var(--clr-accent);
}

.mb-1 {
  margin-block-end: 4px;
}

.sr-only {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
