@font-face {
  font-family: Aeroport;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Aeroport'), url('./Aeroport-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Aeroport;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Aeroport'), url('./Aeroport.woff2') format('woff2');
}

@font-face {
  font-family: Aeroport;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Aeroport'), url('./Aeroport-Medium.woff2') format('woff2');
}
